body{
	background-color: #f7b586;
	font-size: 25px;
}
h1{
	font-family: Verdana;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #0f020d;
}
h1:hover
{
	background-color:#102372;
}


#welcome{
	text-align: center;
}

#info {
	text-align : center;
	padding-top: 10px;
	padding-bottom: 10px;
      
	
}



#content{
      margin: 15px 120px;
      text-align : justify;

}
img{
      border: 2px solid #e84a0c;
      display:block;
}

#me{
	margin:20px 40px;
	width:300px;
	height:300px;
      
}
	

#project{
     display:none;
    
     
}

#roles{
	display:none;
}

#hobby{
	display:none;
}

#button1{
	padding: 10px;
	text-align: justify;
}

#button2{
	padding:10px;
	text-align: justify;
}

#button3{
	padding:10px;
	text-align: justify;
}

#button4{
	padding:10px;
	text-align: justify;
}

.button {
	cursor:pointer;
	margin-left: 60px;
	border-radius: 12px;
	padding: 10px 24px;
	background-color:#d8f090;
	font-size: 24px;
	transition-duration: 0.4s;
}

.button:hover {
	background-color: #b0dff5;
	color: white;
}


ul{
	margin: 15px 100px;
	text-align : justify;
}
#book{
	margin: 20px 10px 20px 150px;
	width:200px;
	height:200px;
      display:inline;
}

#game{
	margin:20px 10px;
	width:200px;
	height:200px;
      display: inline;
}

